@import "reset";
@import "settings/fonts";
@import "settings/colors";
@import "common/header";
@import "components-style/navigation";
@import "components-style/threecolumns";
@import "components-style/three-steps";
@import "components-style/about";
@import "components-style/help";
@import "components-style/carousel";
@import "components-style/footer";
@import "components-style/sign";

body{
  font-family: $font-base;
  background-color: $color-white;
  max-width: 2400px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1600px) {

  body {
    width: auto;
    margin: 0;
    font-size: 8px;
  }
}

@media screen and (max-width: 600px) {

  body {
    font-size: 12px;
    width: auto;
  }
}