$color-white: #FFFFFF;
$color-light-white: #FFFFFFC9;
$color-gray: #3C3C3C;
$color-black: #000000;
$color-light-gray: #3C3C3C26;
$color-blank-gray: #707070;
$color-blank-white: #F0F1F1;
$color-brown: #5E5322;
$color-yellow: #FAD648;
$color-gray-blank: #737373;
$color-blank-black: #1A1818;


