.container__about {
  display: flex;
  max-height: 935px;

  .container__about__1 {
    background-color: $color-blank-white;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container__about__2 {
    background-image: url("../../assets/People.jpg");
    background-position: right;
    background-repeat: no-repeat;
    width: 100%;
    height: 935px;
    margin-left: -80px;
  }
}

.container__about__1 {

  span {
    font-size: 38px;
    font-family: $font-base;
    color: $color-gray;
    margin-top: 186px;
    margin-bottom: 27.25px;
  }

  p {
    font-size: 30px;
    font-family: $font-base;
    color: $color-gray;
    margin-top: 61.9px;
    margin-bottom: 40.09px;
    max-width: 656.9px;
    max-height: 208.91px;
  }
}

.signature {
  position: relative;
  right: -215px;
}

@media screen and (max-width: 1600px){
  .container__about {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .header__text{
      margin-top: 60px;
    }

    .container__about__1 {
      background-color: $color-blank-white;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .container__about__2 {
      display: flex;
      background-image: url("../../assets/People.jpg");
      background-repeat: no-repeat;
      width: 90%;
      margin: auto;
      height: 500px;
    }
  }

  .container__about__1 {

    span {
      font-size: 38px;
      font-family: $font-base;
      color: $color-gray;
      margin-top: 50px;
      margin-bottom: 27.25px;
    }

    p {
      font-size: 30px;
      font-family: $font-base;
      color: $color-gray;
      margin-top: 61.9px;
      margin-bottom: 20.09px;
      max-width: 656.9px;
      max-height: 208.91px;
    }
  }

  .signature {
    position: relative;
    right: -215px;
  }
}

@media screen and (max-width: 600px){
  .container__about {
    height: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .header__text {
      margin-top: 40px;
      font-size: 28px;
    }

    .container__about__1 {

      span {
        font-size: 28px;
        font-family: $font-base;
        color: $color-gray;
        margin-top: 50px;
        margin-bottom: 27.25px;
      }

      p {
        font-size: 20px;
        font-family: $font-base;
        color: $color-gray;
        margin-top: 31.9px;
        margin-bottom: 10.09px;
        width: 325px;
        max-height: 208.91px;
      }
    }


  .container__about__2 {
    display: none;
    }
  }
  .signature {
    width: 160px;
    height: 80px;
    position: relative;
    right: -16%;
    margin-bottom: 10px;
  }
  img{
    width: 60%;
  }
}

