.container__footer {
  background-image: url("../../assets/Background-Contact-Form.jpg");
  background-repeat: no-repeat;
  height: 1026px;
  width: auto;
  margin-top: 80px;
  position: relative;
  display: flex;
  flex-direction: column;

  .background__footer {
    position: absolute;
    background-color: $color-light-white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    text-align: center;
  }
}

.container__footer__subtitles {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-right: 23%;
  z-index: 5;

  span {
    margin-top: 200px;
    font-family: $font-base;
    font-size: 38px;
    letter-spacing: -0.76px;
    color: $color-gray;
    margin-bottom: 25px;
  }
}


input {
  border: none;
  border-bottom: 1px solid $color-blank-gray;
  font-size: 18px;
  font-family: $font-base;

}

[placeholder] {
  font-family: $font-base;
  font-size: 18px;
  color: $color-light-gray;

  &:focus {
    color: $color-gray;
  }
}

.footer__subs {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 100%;
  margin-bottom: 19px;

  :first-child {
    margin-bottom: 3px;
    margin-left: 221px;
    font-size: 18px;
    font-family: $font-base;
    color: $color-gray;
  }

  :last-child {
    margin-right: 140px;
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }
}

.container__footer__subtitles__form {
  span {
    display: flex;
    flex-direction: column;
    margin-top: 70px;


    label {
      font-size: 16px;
      text-align: start;
      font-weight: 600;
      color: $color-gray;
      padding-bottom: 12px;
    }

  }
}

.container__footer__subtitles__form__row {
  display: flex;
  flex-direction: row;
  gap: 16px;


  input {
    width: 256px;
    background: transparent;
    color: $color-gray
  }
}

.form__btn {
  margin-top: 30px;
  width: 150px;
  height: 50px;
  display: inline-block;
  background-color: $color-white;
  border: 0.75px solid $color-gray;
  font-family: $font-base;
  font-weight: lighter;
  font-size: 18px;
  color: $color-black;
  margin-left: 375px;

}

.container__footer__subtitles__form__message {
  margin-top: -40px;


  span {
    textarea {
      max-width: 528px;
      resize: none;
      overflow-y: hidden;
      letter-spacing: 0;
      height: 97px;
      border: none;
      border-bottom: 1px solid $color-blank-gray;
      font-family: $font-base;
      font-size: 18px;
      color: $color-gray;
      background: transparent;
    }
  }
}

@media screen and (max-width: 900px){
  .container__footer{
    margin: 0;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 420px;
     img{
       width: 80%;
     }
  }
  .container__footer__subtitles {
    margin-top: -20px;
    margin-left: 100px;
    span {
      margin-top: 200px;
      font-family: $font-base;
      font-size: 32px;
      letter-spacing: -0.76px;
      color: $color-gray;
      margin-bottom: 25px;
    }
  }

  .container__footer__subtitles__form {
    display: none;
  }

  .footer__subs {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100%;
    margin-bottom: 29px;

    img{
      width: 15%!important;
      height: 15%!important;
      cursor: pointer;
    }

    :first-child {
      display: none;
    }
    :last-child{
      margin-right: 0;
    }

  }
}