.container__nav {
  background-image: url("../../assets/Home-Hero-Image.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: -500px;
  height: 963px;
  width: 100%;
  margin-top: 46px;
  margin-right: 152px;
  position: relative;
  z-index: 10;

  a:link {
    text-decoration: none;
    color: $color-gray;
  }

  li {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
  }
}

.container__nav__login {
  display: flex;
  justify-content: flex-end;
  font-family: $font-base;
  font-size: 13px;
  color: $color-gray-blank;

  a {
    border: 1px solid transparent;
    padding: 9px 10px;
  }

  a:visited {
    color: $color-gray-blank;
  }

  a:hover {
    border: 1px solid $color-yellow;
    padding: 9px 10px;
  }

}

.container__nav__menu .nav__bar {
  display: flex;
  justify-content: flex-end;
  font-family: $font-base;
  font-size: 18px;
  color: $color-gray;
  margin-bottom: 219px;
  margin-top: 35px;

  a {
    border: 1px solid transparent;
    padding: 9px 20px;
  }

  a:visited {
    color: $color-gray;
  }

  a:hover {
    border: 1px solid $color-gray;
    padding: 9px 20px;

  }

  li {
    margin-left: 15px;
  }
}

.container__nav__menu .mobile__nav {
  display: none;
}

.container__nav__subtitles {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: center;
  font-family: $font-base;
  font-size: 38px;
  color: $color-gray;
  margin-right: 10%;
  letter-spacing: -0.76px;
  line-height: 55px;
  margin-bottom: 25px;
  z-index: -999;

  .img__decoration {
    margin-top: 25px;
    margin-bottom: 65px;
    margin-right: 208px;
  }

  .container__nav__subtitles__buttons {
    display: flex;
    font-family: $font-base;
    font-weight: lighter;
    line-height: 1.2;

    a {
      font-size: 36px;
      color: $color-gray;
      padding: 13px 93px;
      border: 1px solid $color-gray;
    }

    .container__nav__subtitles__button__2 {
      padding: 13px 51px;
      margin-left: 44px;
    }
  }
}

@media screen and (max-width: 1600px) {

  .container__nav {
    background-image: url("../../assets/Home-Hero-Image.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: -800px;
    margin: 40px 0 0 0;

  }
  .container__nav__menu .nav__bar {
    display: none;
  }

  .container__nav__menu {
    display: flex;
    justify-content: center;
  }

  .container__nav__menu .mobile__nav {
    display: inline;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90%;
    color: $color-white;
    margin-top: 15px;
    position: absolute;
    z-index: 999;


    a {
      border: 1px solid transparent;
      padding: 9px 20px;
    }

    a:visited {
      color: $color-yellow;
    }

    a:hover {
      border: 1px solid $color-gray;
      padding: 9px 20px;
      cursor: pointer;

    }

    li {
      display: block;
      margin-bottom: 5px;
      margin-left: 15px;
    }

    ul {
      display: block;
    }

    ul:first-child {
      padding-top: 5px;
    }

    ul:last-child {
      padding-bottom: 10px;
    }
    border-radius: 20px;
    background-color: $color-gray;
  }

  .img__menu {
    position: absolute;
    width: 42px;
    height: 42px;
    right: 0;
    filter: opacity(0.4) drop-shadow(0 0 0 $color-gray);
  }


  .container__nav__subtitles {
    margin-top: 160px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: $font-base;
    font-size: 38px;
    color: $color-gray;
    letter-spacing: -0.76px;
    line-height: 55px;
    margin-bottom: 25px;
    margin-left: 110px;
    z-index: -999;


    .img__decoration {
      margin-top: 25px;
      margin-bottom: 10px;
      margin-right: 0;
    }

    .container__nav__subtitles__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      font-family: $font-base;
      font-weight: lighter;
      line-height: 1.2;

      a {
        font-size: 36px;
        color: $color-gray;
        padding: 13px 93px;
        border: 1px solid $color-gray;
      }

      .container__nav__subtitles__button__2 {
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .container__nav {
    background-image: none;
    height: 563px;
    width: auto;
    float: none;
  }

  .img__menu {
    width: 32px;
    height: 32px;
  }

  .container__nav__subtitles {
    align-items: center;
    font-size: 20px;
    width: 100%;
    margin-top: 80px;
    float: none;
    margin-left: 0;
    margin-right: 0;

  }

  .img__decoration {
    width: 40%;
  }

  .container__nav__subtitles__buttons {
    gap: 15px;
    font-family: $font-base;
    font-weight: lighter;
    line-height: 1.2;

    a {
      font-size: 20px !important;
      padding: 13px 65px !important;
    }
  }
  .container__nav__login {
    justify-content: center;
  }

}
