.container__nav {
  background-image: url("../../assets/Home-Hero-Image.jpg");
  background-repeat: no-repeat;
  background-position: left;
  height: 963px;
  width: auto;
  margin-top: 46px;
  margin-right: 152px;
  position: relative;

  a:link {
    text-decoration: none;
  }

  li {
    display: inline-block;
    list-style-type: none;
    margin-right: -4px;
    padding: 10px;
  }
}

.container__nav__login {
  display: flex;
  justify-content: end;
  font-family: $font-base;
  font-size: 13px;
  color: $color-gray-blank;

  a {
    border: 1px solid transparent;
    padding: 9px 10px;
  }

  a:visited {
    color: $color-gray-blank;
  }

  a:hover {
    border: 1px solid $color-yellow;
    padding: 9px 10px;

  }

}

.container__nav__menu {
  display: flex;
  justify-content: end;
  font-family: $font-base;
  font-size: 18px;
  color: $color-gray;
  margin-bottom: 219px;
  margin-top: 35px;

  a {
    border: 1px solid transparent;
    padding: 9px 20px;
  }

  a:visited {
    color: $color-gray;
  }

  a:hover {
    border: 1px solid $color-gray;
    padding: 9px 20px;

  }

  li {
    margin-left: 15px;
  }
}

.container__nav__subtitles {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  text-align: center;
  font-family: $font-base;
  font-size: 38px;
  color: $color-gray;
  margin-right: 10%;
  letter-spacing: -0.76px;
  line-height: 55px;
  margin-bottom: 25px;

  .img__decoration {
    margin-top: 25px;
    margin-bottom: 65px;
    margin-right: 208px;
  }

  .container__nav__subtitles__buttons {
    display: flex;
    font-family: $font-base;
    font-weight: lighter;
    line-height: 1.2;

    a {
      font-size: 36px;
      color: $color-gray;
      padding: 13px 93px;
      border: 1px solid $color-gray;
    }

    .container__nav__subtitles__button__2 {
      padding: 13px 51px;
      margin-left: 44px;
    }
  }
}